@import "../styles/defines";

.default {

  background: #000;
  color: white;
  height: 65px;
  text-align: center;

  .logo {

    position: absolute;
    left: 20px;
    top: 21px;
    height: 23px;

  }

  h2 {

    margin: 0;
    text-transform: uppercase;
    line-height: 65px;
    font-family: $font;
    color: $color-primary;
    font-size: 22px;

  }

}