@font-face {
  font-family: 'Pakt';
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/PaktBold.ttf);
}
@font-face {
  font-family: 'DIN Narrow';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/DIN2014Narrow.otf);
}